body {
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #353D40;
}

header {
  color: #D9D9D9;
  text-shadow: 0px 0px 2px #A1A5A6;
}

.selected{
  background-color: rgb(128, 128, 128);
}

.completed{
  text-decoration: line-through solid rgb(0, 0, 0);
}

button {
  font-size: large;
  height: 30px;
  background-color: #F2B138;
  border: solid 1px #353D40;
  border-radius: 6px;
  color: #353D40;
  text-shadow: 0px 0px 1px white;
}

#apaga-tudo, #remover-finalizados{
  background-color: #f23838;
  color: #D9D9D9;
}

#remover-finalizados {
  margin-right: 30px;
}

#salvar-tarefas {
  background-color: #38f241;
  margin-right: 30px;
  margin-left: 30px;
}

#mover-cima, #mover-baixo {
  width: 5em;
}

#controls-section{
  margin-top: 9px;
  width: 900px;
}

.list {
  background-color: #D9D9D9;
  width: 900px;
  padding: 15px;
  border-radius: 9px;
}

li {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 9px;
  border-radius: 6px;
  font-weight: bold;
}

input {
  height: 26px;
  border-radius: 6px;
  border: solid 1px #353D40;
}

#lista-tarefas {
  padding: 0;
  margin-left: 90px;
  font-size: 1.3em;
}
