@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  font-family: Arial, Helvetica, sans-serif;
}

header h1 {
  margin-left: 200px;
}

#input {
  width: 500;
  margin-left: 90px;
}

#meme-image-container {
  width: 500px;
  height: 400px;
  margin-left: 90px;
  margin-top: 9px;
  border: solid 1px black;
  background-color: white;
}

#meme-text {
  position: absolute;
  z-index: 2;
  width: 499px;
  text-align: center;
  text-shadow: 5px 5px 5px black;
  font-size: 30px;
  color: white;
  font-family: Bebas Neue, cursive;
  letter-spacing: 4px;
}

#meme-bottom-text {
  position: absolute;
  margin-top: 350px;
  vertical-align: bottom;
  z-index: 2;
  width: 499px;
  text-align: center;
  text-shadow: 5px 5px 5px black;
  font-size: 30px;
  color: white;
  font-family: Bebas Neue, cursive;
  letter-spacing: 4px;
}

#meme-image {
  z-index: 1;
  width: 100%;
  height: 100%;
}

#border-controls {
  width: 500px;
  margin-left: 90px;
  margin-top: 15px;
}

#fire {
  background-color: red;
}

#water {
  background-color: blue;
}

#earth {
  background-color: green;
}

#templates {
  margin-top: 15px;
  margin-left: 90px;
}

#templates img {
  width: 60px;
  margin-right: 30px;
  vertical-align: middle;
}
